/* Smaller headings for Slides presentations */

/* Main heading (h1) */
.reveal h1 {
  font-size: 2em !important;
}

/* Subheadings (h2) */
.reveal h2 {
  font-size: 1em !important;
}

/* Smaller headings (h3) */
.reveal h3 {
  font-size: 0.9em !important;
}